
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');




*{
    margin: 0%;
    padding: 0%;
  text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
   
    

}

.header{
    display: flex;
    justify-content: space-between;
    padding: 42px 112.5px 16.7px;
    align-items: center;
    


}

.fa-bars{
    display: none !important;
    cursor: pointer;
}


.right-side a{
    color: black;
    font-size: x-large;
    cursor: pointer;
    text-decoration: none;
    padding: 3px;
}
.right-side i{
    cursor: pointer;
    padding: 15px;

}
 a:hover{
    color: red;
}
i:hover{
    color: red;
}
 


.section-portfolio{
    display: flex;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 112px;
    
    

}
.introleft-side h1 {
    font-size: 72px;
    
    

}
.introleft-side span{
    color: #FF8A56;    
}
.introleft-side{
    padding-top: 117px;

}
.introright-side{
    padding-top: 60px;
}
.introleft-side button{
    background-color: black;
    color: white;
    padding: 10px;
}

.introleft-side a{
    padding-left: 15px;
    color: black;
}
.introleft-side i{
    padding-left: 10px;

}
.trusted-section h6{
    justify-content: center;
    display: flex;
    font-size: 15px;
    color: black;
    margin-top: 2%;
    
    
}
.company{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    padding-right: 289px;
    padding-left: 289px;
}


.services-section h6{
    display: flex;
  margin-top: 3%;
  justify-content: center;
  font-size: 15px; 
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
color: #FF5E69;
}
.services-section h1{
    display: flex;
    justify-content: center;
    height: 119px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 59px;


text-align: center;
letter-spacing: 1px;

}
.services-cards-section{
    display: flex;
    padding-left: 171px;
    padding-right: 171px;
    font-family: Roboto;
    justify-content: space-around;
    margin-top: 5%;
    padding-top: 117.95;
    


}
.services-section{
    padding-right: 171px;
    padding-left: 171px;
    
}
.services-section ul{
    list-style-type: square;
    list-style-position: inside;
}



  

    









@media(max-width:1200px) {
    .header{
      padding-left: 20px;
      padding-right:20px;
      
       
    }
    .right-side{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    
    
    }
    @media(max-width:800px){
        .right-side{
         
        }


    }
    