
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');




*{
    margin: 0%;
    padding: 0%;
  
    font-family: 'Roboto', sans-serif;
 
   
    

}

.overlay-menu{
    background-color: #222;
   
    position: fixed;
   width: 0;
   overflow-x: hidden;
   position: absolute;

}
.active{
    width: 100%;
}

.right-side-overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.overlay-menu a{
    color: #ffff;
    text-decoration: none;
    font-size: 34px;
    margin-top: 10px;
    transition: all 0.2s  cubic-bezier(.87,.11,.9,.37);
    transform: translateX(45px);
    
    
    
}
.fa-xmark{
    color: #ffff;
    right: 3%;
    position: absolute;
    padding-top: 2%;
    font-size: 30px;
  
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 42px 112.5px 16.7px;
    align-items: center;
    


}


.fa-bars-staggered{
display: none !important;
cursor: pointer;
}
    



.right-side a{
    color: black;
    font-size: x-large;
    cursor: pointer;
    text-decoration: none;
    padding: 3px;
}
.right-side i{
    cursor: pointer;
    padding: 15px;

}
 a:hover{
    color:red;
    
}
i:hover{
    color: red;
}
 


.section-portfolio{
    display: flex;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 112px;
    
    

}
.introleft-side h1 {
    font-size: 72px;
    
    

}
.introleft-side span{
    color: #FF8A56;    
}
.introleft-side{
    padding-top: 117px;

}
.introright-side{
    padding-top: 60px;
}
.introleft-side button{
    background-color: black;
    color: white;
    padding: 10px;
}

.introleft-side a{
    padding-left: 15px;
    color: black;
}
.introleft-side i{
    padding-left: 10px;

}
.trusted-section h6{
    justify-content: center;
    display: flex;
    font-size: 15px;
    color: black;
    margin-top: 10%;
    
    
}
.company{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    padding-right: 289px;
    padding-left: 289px;
}


.services-section h6{
    display: flex;
  margin-top: 8%;
  justify-content: center;
  font-size: 15px; 
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
color: #FF5E69;
}
.services-section h1{
    display: flex;
    justify-content: center;
   
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 59px;
padding-top: 20px;


text-align: center;
letter-spacing: 1px;

}
.services-cards-section{
   display: flex;
   justify-content: space-around;
   padding-top: 117.95px;
   font-size: 15px;
   padding-left: 171px;
   padding-right: 200px;
    
    
    


}
.cards{
    min-width: 152px;
    
    
    
}
.services-section ul{
    list-style-type: square;
    list-style-position: inside;
}
.cards h3 {
    padding-top: 20px;
}
.cards p{
padding-top: 15px;

color: #666666;
font-size: 15px;
}
 .cards ul{
    padding-top: 15px;
 }


 .projects-section > h6{
    color: #B16CEA;
    text-transform: uppercase;
letter-spacing: 4px;
 }

 .view-all-projects{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0 113px;
 }
 .projects-card-section{
    display: flex;
    justify-content: center;
    justify-content: space-around;
 }
 
  

    









@media(max-width:1200px) {
    .header{
      padding-left: 20px;
      padding-right:20px;
      
       
    }
    .right-side{
        display: none;
    }
    .fa-bars-staggered{
        display: block !important;
        font-size: 28px;
    }
    
    
    }
    @media(max-width:1310px){
        .section-portfolio{
           padding-left: 60px;
           padding-right: 60px;
         
        }


    }
    @media
    
    